#txtaera{
    margin-bottom: 10px;
}


.a1{
    border: 1px solid white;
    color: white;
    margin-left: 5px;
    margin-bottom: 15px;

}
.a2{
    border: 1px solid white;
    color: white;
    margin-left: 14px;
    

}
.a3{
    border: 1px solid white;
    color: white;
    margin-left: 20px;
    margin-bottom: 1px;

}
.a4{
    border: 1px solid white;
    color: white;
    margin-left: 21px;
    

}
.a5{
    border: 1px solid white;
    color:white ;
    margin-left: 20px;
    margin-top: 5px;
}

.a8{
    border:1px solid white;
     color: white;
     margin-left: 18px;
     margin-top: 10px;
}

body{
    background-color:black;
}